<div>
<div class="w-100%">
  <app-navbar></app-navbar>
</div>

  <div class=" w-full  bg-indigo-600" style="background-color: #670018;">
    <div class="w-500 border-2 border-indigo-600 ">
      <div class="flex justify-around ">
        <h4 class="text-white ">Our mission is to improve <br> opportunities and outcomes for <br> young people by bridging the gap <br> between research and practice in <br> education </h4>
        
        <!-- Embed the YouTube video using an iframe -->
        <iframe width="300" height="181" src="https://www.youtube.com/embed/1BXM86j2qxw" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
<!-- card  -->
<div class="grid grid-cols-4 m-20">
 <div>
  <div class="border-indigo-600">
    <iframe width="200" height="81" src="https://www.youtube.com/embed/1BXM86j2qxw" frameborder="0" allowfullscreen></iframe>
  </div>
 <div class="flex mt-5 gap-10">
  <button>More info ></button>
  <button>Add Wishlist</button>
 </div>
 </div>
 <div>
  <div class="border-indigo-600">
    <iframe width="200" height="81" src="https://www.youtube.com/embed/1BXM86j2qxw" frameborder="0" allowfullscreen></iframe>
  </div>
 <div class="flex mt-5 gap-10">
  <button>More info ></button>
  <button>Add Wishlist</button>
 </div>
 </div>
 <div>
  <div class="border-indigo-600">
    <iframe width="200" height="81" src="https://www.youtube.com/embed/1BXM86j2qxw" frameborder="0" allowfullscreen></iframe>
  </div>
 <div class="flex mt-5 gap-10">
  <button>More info ></button>
  <button>Add Wishlist</button>
 </div>
 </div>
 <div>
  <div class="border-indigo-600">
    <iframe width="200" height="81" src="https://www.youtube.com/embed/1BXM86j2qxw" frameborder="0" allowfullscreen></iframe>
  </div>
 <div class="flex mt-5 gap-10">
  <button>More info ></button>
  <button>Add Wishlist</button>
 </div>
 </div>
</div>

<!-- Explore 1 -->

<div class="grid grid-cols-4 m-10">
<h2>Latest <br>
  early childhood <br>
  resources</h2>
  <div>
    <iframe width="300" height="181" src="https://www.youtube.com/embed/1BXM86j2qxw" frameborder="0" allowfullscreen></iframe>
    <h2 class="font-bold font-serif">Visual arts – a practical workshop</h2>
    <p>Dr Gai Lindsay provides a practical <br> session focused on supporting <br> teachers with their own art- <br> making as well as their pedagogy <br> around the visual arts in early <br> childhood education.</p>
  </div>
  <div>
    <iframe width="300" height="181" src="https://www.youtube.com/embed/1BXM86j2qxw" frameborder="0" allowfullscreen></iframe>
    <h2 class="font-bold font-serif">Visual arts – a practical workshop</h2>
    <p>Dr Gai Lindsay provides a practical <br> session focused on supporting <br> teachers with their own art- <br> making as well as their pedagogy <br> around the visual arts in early <br> childhood education.</p>
  </div>
  <div>
    <iframe width="300" height="181" src="https://www.youtube.com/embed/1BXM86j2qxw" frameborder="0" allowfullscreen></iframe>
    <h2 class="font-bold font-serif">Visual arts – a practical workshop</h2>
    <p>Dr Gai Lindsay provides a practical <br> session focused on supporting <br> teachers with their own art- <br> making as well as their pedagogy <br> around the visual arts in early <br> childhood education.</p>
  </div>
  <div>

    <button class="border-slate-500 bg-slate-500 text-white h-10">Explore More ></button>
  </div>
</div>
<!-- Explore 2 -->
<div class="grid grid-cols-4 m-10">
<h2>Latest <br>
  early childhood <br>
  resources</h2>
  <div>
    <iframe width="300" height="181" src="https://www.youtube.com/embed/1BXM86j2qxw" frameborder="0" allowfullscreen></iframe>
    <h2 class="font-bold font-serif">Visual arts – a practical workshop</h2>
    <p>Dr Gai Lindsay provides a practical <br> session focused on supporting <br> teachers with their own art- <br> making as well as their pedagogy <br> around the visual arts in early <br> childhood education.</p>
  </div>
  <div>
    <iframe width="300" height="181" src="https://www.youtube.com/embed/1BXM86j2qxw" frameborder="0" allowfullscreen></iframe>
    <h2 class="font-bold font-serif">Visual arts – a practical workshop</h2>
    <p>Dr Gai Lindsay provides a practical <br> session focused on supporting <br> teachers with their own art- <br> making as well as their pedagogy <br> around the visual arts in early <br> childhood education.</p>
  </div>
  <div>
    <iframe width="300" height="181" src="https://www.youtube.com/embed/1BXM86j2qxw" frameborder="0" allowfullscreen></iframe>
    <h2 class="font-bold font-serif">Visual arts – a practical workshop</h2>
    <p>Dr Gai Lindsay provides a practical <br> session focused on supporting <br> teachers with their own art- <br> making as well as their pedagogy <br> around the visual arts in early <br> childhood education.</p>
  </div>
  <div>

    <button class="border-slate-500 bg-slate-500 text-white h-10">Explore More ></button>
  </div>
</div>

