<div>
<div class="w-100%">
  <app-navbar></app-navbar>
</div>

  <div class=" w-full  bg-indigo-600" style="background-color: #670018;">
    <div class="w-500 ">
      <div class="flex justify-around ">
        <h1 class="text-white text-lg mt-5">Our mission is to improve <br> opportunities and outcomes for <br> young people by bridging the gap <br> between research and practice in <br> education </h1>
        
        <!-- Embed the YouTube video using an iframe -->
        <iframe class="m-5 rounded-sm" width="300" height="181" src="https://www.youtube.com/embed/1BXM86j2qxw" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
<!-- card  -->
<div class="grid grid-cols-4 m-20">
 <div>
  <div class="border-indigo-600">
   <img src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://s3.amazonaws.com/coursera_assets/ddp/branding/umich/sustainability-development-umich-thumbnail.jpg?auto=format%2Ccompress%2C%20enhance&dpr=1&w=265&h=204&fit=crop&q=50" alt="course">
   <h1>Sustainability Develop @MasterTrack</h1>
  </div>
 <div class="flex mt-5 gap-10">
  <button>More info ></button>
  <button>Add Wishlist</button>
 </div>
 </div>
 <div>
  <div class="border-indigo-600">
    <img src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://s3.amazonaws.com/coursera_assets/ddp/branding/rutgers/Rutgers_Supply_Chain_Excellence_MasterTrack_Certificate.jpg?auto=format%2Ccompress%2C%20enhance&dpr=1&w=265&h=204&fit=crop&q=50" alt="course">
    <h1>Supply Chain Excellence @MasterTrack</h1>
  </div>
 <div class="flex mt-5 gap-10">
  <button>More info ></button>
  <button>Add Wishlist</button>
 </div>
 </div>
 <div>
  <div class="border-indigo-600">
    <img src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://s3.amazonaws.com/coursera_assets/ddp/branding/illinois/instructional-design-illinois-thumbnail.jpg?auto=format%2Ccompress%2C%20enhance&dpr=1&w=265&h=204&fit=crop&q=50" alt="course">
    <h1>Instructional Design @MasterTrack</h1>
  </div>
 <div class="flex mt-5 gap-10">
  <button>More info ></button>
  <button>Add Wishlist</button>
 </div>
 </div>
 <div>
  <div class="border-indigo-600">
    <img src="https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://s3.amazonaws.com/coursera_assets/ddp/branding/umich/social-work-umich-thumbnail.jpg?auto=format%2Ccompress%2C%20enhance&dpr=1&w=265&h=204&fit=crop&q=50" alt="course">
    <h1>Social Work @MasterTrack </h1>
  </div>
 <div class="flex mt-5 gap-10">
  <button>More info ></button>
  <button>Add Wishlist</button>
 </div>
 </div>
</div>

<!-- Explore 1 -->

<div class="grid grid-cols-4 m-10">
<h2>Latest <br>
  early childhood <br>
  resources</h2>
  <div>
    <iframe width="300" height="181" src="https://www.youtube.com/embed/RtgG9kZpyg4" frameborder="0" allowfullscreen></iframe>
    <h1 class="font-bold font-serif mt-3 text-xl">Next.js And MongoDB</h1>

  </div>
  <div>
    <iframe width="300" height="181" src="https://www.youtube.com/embed/5BDgKJFZMl8" frameborder="0" allowfullscreen></iframe>
    <h1 class="font-bold font-serif mt-3 text-xl">Django workshop</h1>
 
  </div>
  <div>
    <iframe width="300" height="181" src="https://www.youtube.com/embed/6mbwJ2xhgzM" frameborder="0" allowfullscreen></iframe>
    <h1 class="font-bold font-serif mt-3 text-xl">Web Design(HTML/CSS)</h1>

  </div>
  <div>

    <button class="border-slate-500 bg-slate-500 text-white h-10 p-2">Explore More ></button>
  </div>
</div>
<!-- Explore 2 -->
<div class="grid grid-cols-4 m-10">
<h2>Latest <br>
  early childhood <br>
  resources</h2>
  <div>
    <iframe width="300" height="181" src="https://www.youtube.com/embed/KAh2TOrtTq4" frameborder="0" allowfullscreen></iframe>
    <h1 class="font-bold font-serif text-xl mt-3">Android RoadMap</h1>
   
  </div>
  <div>
    <iframe width="300" height="181" src="https://www.youtube.com/embed/NTNWLKyiD6k" frameborder="0" allowfullscreen></iframe>
    <h1 class="font-bold font-serif mt-3 text-xl">AI/ML Journey </h1>
    
  </div>
  <div>
    <iframe width="300" height="181" src="https://www.youtube.com/embed/sRd5Mzcyg5Q" frameborder="0" allowfullscreen></iframe>
    <h1 class="font-bold font-serif mt-3 text-xl">MongoDB Advanced</h1>
  </div>
  <div>

    <button class="border-slate-500 bg-slate-500 text-white h-10 p-2">Explore More ></button>
  </div>
</div>

