
    <app-navbar></app-navbar>


<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 p-4">
    <div *ngFor="let item of user; let i = index">
      <div class="bg-white rounded-lg shadow-md p-4">
        <div class="w-50 h-40">
           <img style="width: 100%; height: 100%;" src={{item.image}} alt="">
        </div>
        <h1 class="text-xl font-bold">{{ item.title }}</h1>
        <p class="mt-2">{{ item.description }}</p>
        <div class="flex gap-10">
            <p class="mt-2">{{ item.instructor }}</p>
            <p class="mt-2">{{ item.subscriber }}+ <span class="text-red-400">subscriber</span></p>
        </div>
        <p class="mt-2"><span class="text-blue-400">Rating</span> {{ item.rating }}</p>
        <a [routerLink]="['/course', item._id]" class="mt-4 text-blue-600 hover:underline">Learn More</a>
      </div>
    </div>
  </div>
